html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.navbar {
    background-color: #355876;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
    width: 100%;
}

.content {
    margin-top: 7rem;
}

.login {
    position: absolute;
    top: 50%;
    margin-right: 10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 30px;
}

#desc {
    text-align: justify;
    text-justify: inter-word;
}

.card-header {
    background-color: #355876;
    color: white;
}

.btn-login {
    background-color: #355876;
    color: white;
    width: 100%;
}

ul {
    list-style-type: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: #355876;
    text-align: center;
    padding: 20px;
}
